<!-- Condition based Loading  -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!-- Contact Form  -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="contactForm" #contactChange>
                <label for="name"><strong>Name</strong></label>
                <div>
                    <input type="text" id="name" name="name" placeholder="(Required)" aria-label="Enter your name" formControlName="name" >
                </div>
                <div *ngIf="!contactForm.controls.name?.valid && (contactForm.controls.name?.dirty
                ||contactForm.controls.name?.touched)">Valid name is Required</div>
                <label for="email"><strong>Email</strong></label>
                <div>
                    <input type="email" id="email" name="email" placeholder="(Required)" aria-label="Enter your email" formControlName="email">
                </div>
                <div *ngIf="!contactForm.controls.email?.valid && (contactForm.controls.email?.dirty
                ||contactForm.controls.email?.touched)">Valid email is Required</div>
                <label for="mobile"><strong>Mobile#</strong></label>
                <div>
                    <input type="text" id="mobile" name="mobile" placeholder="11 Digit #(Required)" aria-label="Enter your 11-Digit mobile number" formControlName="mobile">
                </div>
                <div *ngIf="!contactForm.controls.mobile?.valid && (contactForm.controls.mobile?.dirty
                ||contactForm.controls.mobile?.touched)">Valid mobile# is Required</div>
                <label for="company"><strong>Company</strong></label>
                <div>
                    <input type="text" id="company" name="company" placeholder="(Optional)" aria-label="Enter your company" formControlName="company">
                </div>
                <label for="title"><strong>Title</strong></label>
                <div>
                    <input type="text" id="title" name="title" placeholder="(Optional)" aria-label="Enter your title" formControlName="title">
                </div>
                <label for="photo"><strong>Photo URL</strong></label>
                <div>
                    <input type="text" id="photo" name="photo" placeholder="(Optional)" aria-label="Enter your photo" formControlName="photo">
                </div>
                <div *ngIf="!isupdate" class="mt-2">
                    <button (click)="addContact()" class="btn btn-success" [disabled]="!contactForm.valid">Create</button>&nbsp;
                    <button (click)="resetForm()" class="btn btn-warning">Clear</button>
                </div>
                <div *ngIf="isupdate" class="mt-2" >
                    <button (click)="update()" class="btn btn-primary" [disabled]="!contactForm.valid">Update</button>&nbsp;
                    <button (click)="resetForm()" class="btn btn-warning">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>
