<div class="container mt-3">
    <div class="row">
        <div class="col">
            <button class="h3 fw-bold text-dark" (click)="showhideUtility()"><i class="fa fa-plus-circle">&nbsp;</i>Add Contact</button>
        </div> 
    </div>
</div>

<app-add-contact *ngIf="visible "></app-add-contact>

<!-- Condition based Loading  -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>


<div class="container mt-3">
   
    <h2>Contact List</h2>
     
    <table class="table table-bordered border-secondary border-5 table-light table-hover">
      <thead class="table table-bordered table-dark">
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts ; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ contact.id }}</td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.mobile }}</td>
          <!-- <td><button (click)="showDetails(contact)">Edit</button></td> -->
          <td><div class="d-flex align-items- justify-content-around">
            <a routerLink="/contacts/view/{{contact.id}}" class="btn btn-warning my-1" data-toggle="tooltip" data-placement="top" title="View Contact Details">
                <i class="fa fa-eye"></i>
            </a>
            <a routerLink="/contacts/edit/{{contact.id}}" class="btn btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Edit Contact">
                <i class="fa fa-pen"></i>
            </a>
            <button class="btn btn-danger my-1" data-toggle="tooltip" data-placement="top" title="Delete Contact" (click)="deleteContact(contact.id)">
                <i class="fa fa-trash"></i>
            </button>
        </div></td>
        </tr>
      </tbody>
    </table>
  </div>